# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# photoshop or other working files
# .psd
# .act
reference/
social/
dump/
levels/
BusterBros_ToDo.txt