# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# bianaries
index-win.exe

# clutter
reference/
dump/
levels/
BusterBros_RoadMap.txt